<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TapEvents</key>
	<dict>
		<key>TapViewController</key>
		<dict>
			<key>2</key>
			<dict>
				<key>view_tag</key>
				<string>2</string>
				<key>button_desc</key>
				<string>手势的描述</string>
				<key>button_id</key>
				<string>112</string>
				<key>controller_target</key>
				<string>TapViewController</string>
			</dict>
			<key>0</key>
			<dict>
				<key>view_tag</key>
				<string>0</string>
				<key>button_desc</key>
				<string>控制器手势的描述</string>
				<key>button_id</key>
				<string>111</string>
				<key>controller_target</key>
				<string>TapViewController</string>
			</dict>
		</dict>
	</dict>
	<key>CollectionViewEvents</key>
	<dict>
		<key>CollectionViewController</key>
		<dict>
			<key>0</key>
			<dict>
				<key>6</key>
				<dict>
					<key>button_desc</key>
					<string>CollectionView</string>
					<key>button_id</key>
					<string>322</string>
					<key>index</key>
					<string>6</string>
					<key>controller_target</key>
					<string>CollectionViewController</string>
				</dict>
				<key>5</key>
				<dict>
					<key>button_desc</key>
					<string>CollectionView</string>
					<key>button_id</key>
					<string>321</string>
					<key>index</key>
					<string>5</string>
					<key>controller_target</key>
					<string>CollectionViewController</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>TableViewEvents</key>
	<dict>
		<key>TableViewController</key>
		<dict>
			<key>0</key>
			<dict>
				<key>4</key>
				<dict>
					<key>button_desc</key>
					<string>tableview</string>
					<key>button_id</key>
					<string>333</string>
					<key>index</key>
					<string>4</string>
					<key>controller_target</key>
					<string>TableViewController</string>
				</dict>
				<key>3</key>
				<dict>
					<key>button_desc</key>
					<string>tableview</string>
					<key>button_id</key>
					<string>332</string>
					<key>index</key>
					<string>3</string>
					<key>controller_target</key>
					<string>TableViewController</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>ControlEvents</key>
	<dict>
		<key>ControlViewController</key>
		<dict>
			<key>btn1Action:</key>
			<dict>
				<key>controller_target</key>
				<string>ControlViewController</string>
				<key>action_name</key>
				<string>btn1Action:</string>
				<key>button_id</key>
				<string>123</string>
				<key>button_desc</key>
				<string>按钮的描述</string>
			</dict>
			<key>btn3Action:</key>
			<dict>
				<key>controller_target</key>
				<string>ControlViewController</string>
				<key>action_name</key>
				<string>btn3Action:</string>
				<key>button_id</key>
				<string>321</string>
				<key>button_desc</key>
				<string>按钮的描述</string>
			</dict>
		</dict>
	</dict>
	<key>PageEvents</key>
	<dict>
		<key>PageViewController</key>
		<dict>
			<key>controller_target</key>
			<string>PageViewController</string>
			<key>page_id</key>
			<string>456</string>
			<key>page_desc</key>
			<string>页面的描述</string>
		</dict>
	</dict>
</dict>
</plist>
